<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Books</title>
		<link href="../static/bootstrap.min.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
			rel="stylesheet"
			type="text/css"
			/>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class = "container-fluid">
			
			<a class="navbar-brand" href="{{url_for('index')}}">BookPeople</a>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('book')}}">Books</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('about')}}">About</a>
				</li>
				<li>
					<form class = "form-inline" action = "/search" method = "get">
						<div class="md-form mt-0">
							<input class="form-control" type = "text" placeholder = "Search..." aria-label="Search" name="query">
							<input type = "submit" hidden>
						</div>
					</form>
				</li>
			</ul>
			</div>
		</nav>
		<div class="container">
			<br/>
            <h1>Bookpeople: Books</h1>
            <br/>
			
			{%for i in range(data|length)%}
			{% if i % 3 == 0%}
			<div class="row">
			{%endif%}
                <div class="col-sm-4">
                    <div class="card" style = "margin-bottom: 30px;">
                        <a href = "{{url_for('book_record',title = data[i].title)}}" class="btn btn-fix text-center">
						{%if data[i].img_url == None%}
                        <img src="../static/image/vic_pic.jpg" class="card-img-top img-cropped" alt="card image">
						{%else%}
						<img src="{{data[i].img_url}}" class="card-img-top img-cropped" alt="card image">
						{%endif%}
                        <div class="card-body">
                            <h5 class="card-title">{{data[i].title}}</h5>
                           </div>
                        </a>
                    </div>
                </div>
			{% if i % 3 == 2%}
			</div>
			{%endif%}		
			{%endfor%}
		
			{%if data|length % 15 != 0%}
			</div>
			{%endif%}
		
		<nav aria-label="Pagenav">
            <ul class="pagination justify-content-center mt-5">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                </li>
				{%for i in range(11)%}
				<li class="page-item"><a class="page-link" href="{{url_for('book',num = i+1)}}">{{i+1}}</a></li>
				{%endfor%}
				<li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            </ul>
        </nav>
		<script src="../static/jquery.slim.min.js"></script>
		<script src="../static/bootstrap.min.js"></script>
	</body>
</html>
