<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>About Us</title>
		<link href="../static/bootstrap.min.css" rel="stylesheet" />
		<link href="../static/bootstrap2.min.css" rel = "stylesheet"/>
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
			rel="stylesheet"
			type="text/css"
			/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
			<div class = "container-fluid">
			<a class="navbar-brand" href="{{url_for('index')}}">BookPeople</a>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('about')}}">About</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						data-toggle="dropdown"
						role="button"
						aria-haspopup="true"
						aria-expanded="false"
						>Browse<span class="caret"></span></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href = "{{url_for('book')}}">Books</a>
						<a class="dropdown-item" href = "{{url_for('authors')}}">Authors</a>
						<a class="dropdown-item" href = "{{url_for('publishers')}}">Publishers</a>
					</div>
					<ul class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
						<li><a href = "{{url_for('book')}}">Books</a></li>
						<li><a href = "{{url_for('authors')}}">Authors</a></li>
						<li><a href = "{{url_for('publishers')}}">Publishers</a></li>
					</ul>
				</li>
			</ul>
			</div>
		</nav>
		{{type}}
		<h1>{{title}}</h1>
		<ul>
			<!--<li>Authors:<a href = "{{url_for('authors_record',title = data['author'])}}">{{data['author']}}</a></li>-->
            <!--<li>Books: :<a href = "{{url_for('book_record',title = data['book'])}}"> {{data['book']}}</a></li>-->

			{% if data['owner'] != Null and data['owner'] != None %}
				<li>Owner: {{data['owner']}}</li> 
			{% endif %}

			{% if data['founded'] != Null %}
				<li>Founded: {{data['founded']}}</li>
			{% endif %}

			{% if data['location'] != Null %}
				<li>Location: {{data['location']}}</li>
			{% endif %}
			
			{% if data['description'] != Null and data['description'] != None %}
			<li>Description: {{data['description']}}</li>
			{% endif %}

			<li><a href="{{data['website']}}">Link to Publisher's Website</a></li>
			<li><a href="{{data['wiki_url']}}">Link to Publisher's Wikipedia Page</li></a>
		
			<li>Books Published:<ul>
                        {% for i in book_w %}
                        <li><a href="{{url_for('book_record',title = i.title)}}">{{i.title}}</a></li>
                        {% endfor %}</ul></li>			

			<li>Authors collaborated with:<ul>
                        {% for i in aut_w %}
                        <li><a href="{{url_for('authors_record',title = i[0].name)}}">{{i[0].name}}</a></li>
                        {% endfor %}</ul></li>
	
			{% if data['img_url'] != Null and data['img_url'] != None %}
				<img src = "{{data['img_url']}}">
			{% endif %}	
		</ul>
		
		<script src="../static/jquery.slim.min.js"></script>
		<script src="../static/bootstrap.min.js"></script>
	</body>
</html>
