<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Search Results</title>
		<link href="../static/bootstrap.min.css" rel="stylesheet" />
		<link href="../static/bootstrapSEARCH.min.css" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
			rel="stylesheet"
			type="text/css"
			/>
		<style>
			body{
				color: white;
			}
			li{
				list-style-type: none;
			}
			a{
				text-decoration: none;
				color: white;
			}
			a:hover{
				color: #c33c54;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class = "container-fluid">
			<a class="navbar-brand" href="{{url_for('index')}}">BookPeople</a>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('book')}}">Books</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('authors')}}">Authors</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('about')}}">About</a>
				</li>
				<li>
					<form class = "form-inline" action = "/search" method="get">
						<div class="md-form mt-0">
							<input class="form-control" type = "text" placeholder = "Search..." aria-label="Search" name="query">
							<input type = "submit" hidden>
						</div>
					</form>
				</li>
			</ul>
			</div>
		</nav>
		<!--	<h1>Search Results for: {{keyword}}</h1> -->
		<!--<h3>Number of Results = len(books)</h3>-->
		<ul>
			{% if a != 0 %}
			<!--<h4> Results for '{{keyword}}' </h4> -->


		<br/>
		<div class = "container">
			<h4>Results for '{{keyword}}':</h4>
			<ul>
				{%for i in books%}
				<li><a href = "{{url_for('book_record',title = i.title)}}">{{i.title}}</a></li>
				{%endfor%}
				{%for j in authors%}
				<li><a href = "{{url_for('authors_record',title = j.name)}}">{{j.name}}</a></li>
				{%endfor%}
				{%for k in publishers%}
				<li><a href = "{{url_for('publishers_record',title = k.name)}}">{{k.name}}</a></li>
				{%endfor%}
			{% else %}
			<h4> No results found for '{{keyword}}' </h4>
			{% endif %}
				
				
		</ul>

	</body>
</html>
