@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header text-white bg-success text-center">
                <h4>Food Truck Checkout</h4>
            </div>
        </div>
        <br />
        <div class="panel-body">
            <form asp-action="Calculate" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Enter the customer code:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Enter number of tacos:</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Enter number of sandwiches:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Checkout
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>